<!doctype html>
<title>Blog app written in Go</title>
<link rel="stylesheet" href="/static/css/style.css">
<nav>
  <h1><a href="/">Blog app</a></h1>
</nav>
<section class="content">
  <header>
    <h1>Posts</h1>
  </header>
  
  {{template "posts" .Posts}}
</section>

{{template "decoration"}}